replicaCount: 2

image:
  repository: zootopia/app
  tag: "1.0"
  pullPolicy: IfNotPresent

securityContext:
  runAsNonRoot: true
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi

service:
  type: ClusterIP
  port: 3000
