name: Template Validation & Security Scans

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  validate-and-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Validate Helm chart
      - name: Install Helm
        run: |
          curl -fsSL https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
      - name: Lint Helm Chart
        run: helm lint helm/zootopia

      # Validate Kubernetes yaml
      - name: Install kubectl
        run: |
          sudo curl -L https://dl.k8s.io/release/v1.28.0/bin/linux/amd64/kubectl -o /usr/local/bin/kubectl
          sudo chmod +x /usr/local/bin/kubectl
      - name: Validate Kubernetes manifests
        run: kubectl apply --dry-run=client -f k8s/

      # Build Docker image (validation only)
      - name: Build Docker Image
        run: docker build -t zootopia-test ./app

    
